section.Header div {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: #f1f1f1;
}

section.Header .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .Container {
        flex-direction: column;
    }
}


@media screen and (max-width: 600px) {
    section.Header li {
        display: none;
    }
}

section.Header ul {
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
}

section.Header li {
    float: left;
}

section.Header li a {
    display: block;
    color: #383838;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section.Header li a:hover {
    color: #f1f1f1;
    background-color: #383838;
}

section.Header li a.active {
    background-color: #1d546c;
    color: white;
}