body {
    font-family: 'Poppins', sans-serif;
}

/* Background */

/* Header */
section.Header div.container div.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

section.Header div.container div.header-nav ul li {
    float: left;
    border-radius: 10px;
}

section.Header div.container div.header-nav ul li {
    padding: 14px 16px;
    color: white;
}

section.Header div.container div.header-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

section.Header div.container div.header-nav ul li img {
margin-top: 50%;
margin-bottom: 50%;
}

section.Header div.container div.header-nav ul li.logo {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
}

section.Header div.container div.header-nav ul li a:hover {
    background-color: #111;
    border-radius: 10px;
}

section.Header div.container div.header-nav ul li.active {
    background-color: rgba(12, 0, 92, 0.721);
}