/* Whole body */
/* Defining Fonts & stuff */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    background-image: url("bg.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    float: left;
}