
/* Background */
body {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* Setting Font Family & Fonts */
    font-family: "Poppins", Helvetica, sans-serif;
}

/* Container Background */
.container {
    /* Make it visible */
    display: block;
    visibility: visible;

    /* Outside Margin */
    margin-top: 10%;
    margin-bottom: 10%;

    /* Inside Padding */
    /* padding: 20px; */

    /* Appearance */
    border-radius: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;

    /* Affect text globally */
    text-align: center;
}

.container div img {
    max-width: 100px;
    max-height: 100px;
}

.container .top-oauth {
    /* Container Appearance */
    border-radius: 30px 30px 0px 0px;
    background-color: darkslategrey;

    /* Organising contents to line up */
    display: flex;
    color: white;

    /* Text Alignment */
    text-align: left;
}

.container .top-oauth img {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2.5%;
}

.container .top-oauth div {
    margin-left: 2.5%;
}

.container .top-oauth #signinPrompt .discord {
    background-color: white;
}
